@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --shadow-mentor-shadow: 0px 4px 20px rgba(110, 127, 185, 0.1);

  --inset-54\%: 54%;
  --inset-40\%: 40%;

  --color-primary: #bd24df;
  --color-secondary: #2d6ade;
  --color-body-bg: #040D26;
  --color-darkmode: #0c1b44;
  --color-tablebg: #132259;
  --color-border: #091945;
  --color-lightblue: #8a9bca;
  --color-lightsky: #ECF2FF;
  --color-lightpurple: #B4C7ED;

  --blur-390: 390px;

  --background-image-banner-image: linear-gradient(
    90deg,
    #00C2E2,
    #003772 97.15%
  );
  
  --background-image-simple-bg: linear-gradient(
    90deg,
    rgba(189, 36, 223, 0.1),
    rgba(45, 106, 222, 0.1) 97.15%
  );
  --background-image-arrow-bg: url('/images/simple/arrow-bg.png');
  --background-image-newsletter: url('/images/newsletter/hands.svg');
}


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  section {
    @apply py-14 bg-body-bg;
  }

  h1 {
    @apply text-white font-bold lg:text-7xl sm:text-6xl text-5xl;
  }

  h2 {
    @apply text-lightsky sm:text-5xl text-4xl font-bold;
  }
   h3 {
    @apply text-lightsky sm:text-2xl text-xl font-bold;
  }
}

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto w-full px-4;
  }
}

html {
  scroll-behavior: smooth;
}
.scroll-container {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

